<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="Footnfoot" version="4.0">
	<servlet>
		<display-name>com.foot.rest</display-name>
		<servlet-name>com.foot.rest</servlet-name>
		<servlet-class>org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet</servlet-class>
		
		<init-param>
			<param-name>jaxrs.serviceClasses</param-name>
			<param-value>com.foot.rest.resources.LeagueResource,com.foot.rest.resources.TeamRessource,</param-value>
		</init-param>

		

		<init-param>
			<param-name>jaxrs.providers</param-name>
			<param-value>com.foot.rest.services.AuthenticateFilter</param-value>
		</init-param>
	</servlet>

	<servlet>
		<display-name>com.foot.signin</display-name>
		<servlet-name>com.foot.signin</servlet-name>
		<servlet-class>org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet</servlet-class>

		<init-param>
			<param-name>jaxrs.serviceClasses</param-name>
			<param-value>com.foot.rest.resources.UserResurce</param-value>
		</init-param>
	</servlet>


	<servlet-mapping>
		<servlet-name>com.foot.rest</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>com.foot.signin</servlet-name>
		<url-pattern>/users/*</url-pattern>
	</servlet-mapping>
</web-app>